In [22]:
import os
import re
import pandas as pd
CHR_NAMES=['chr1', 'chr2', 'chr3', 'chr4',
           'chr5','chr6','chr7','chr8',
           'chr9','chr10','chr11','chr12',
           'chr13','chr14','chr15','chr16',
           'chr17','chr18','chr19','chr20',
           'chr21','chr22','chrX','chrY']
def load_ref_startpos():
    startpos_dict={}
    for chrname in CHR_NAMES:
        file_path=os.path.join(os.getcwd(),'tools','maf_templates',chrname+'.maf')
        inp = open(file_path, "r")
        for line in inp:
            if "hg38" in line and line[0] == 's':
                startpos_dict[chrname]=int(re.findall(r'\w+', line)[3])
                break
        inp.close()
    startpos_df =pd.DataFrame(startpos_dict,index=['pos'])
    startpos_df.to_csv(os.path.join(os.getcwd(),'start_positions.csv'),sep='\t',index=False)
    return startpos_df

In [ ]:
def get_refstartpos(path_to_startpos_df):

In [23]:
df=load_ref_startpos()

In [25]:
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>chr1</th>
      <th>chr10</th>
      <th>chr11</th>
      <th>chr12</th>
      <th>chr13</th>
      <th>chr14</th>
      <th>chr15</th>
      <th>chr16</th>
      <th>chr17</th>
      <th>chr18</th>
      <th>...</th>
      <th>chr22</th>
      <th>chr3</th>
      <th>chr4</th>
      <th>chr5</th>
      <th>chr6</th>
      <th>chr7</th>
      <th>chr8</th>
      <th>chr9</th>
      <th>chrX</th>
      <th>chrY</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>pos</th>
      <td>10917</td>
      <td>10803</td>
      <td>60000</td>
      <td>11163</td>
      <td>18172207</td>
      <td>16022637</td>
      <td>19830514</td>
      <td>10000</td>
      <td>60000</td>
      <td>11107</td>
      <td>...</td>
      <td>10510000</td>
      <td>11706</td>
      <td>11527</td>
      <td>11282</td>
      <td>60000</td>
      <td>10238</td>
      <td>60000</td>
      <td>10336</td>
      <td>10501</td>
      <td>10629</td>
    </tr>
  </tbody>
</table>
<p>1 rows × 24 columns</p>
</div>